/*=========CSS==========*/
	/*autor Mauricio*/

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html,body{
	height: 100%;
	/*background: black;*/
}
.cotainer{
	max-width: 1280px;
	margin: 0 auto;
}
header{
	width: 100%;
	height: 60vh;
	background-color: rgb(120, 115, 115);
	border-radius: 20px;
	padding: 40px 2%;
	background-repeat: no-repeat;
	list-style-image: none;
	padding: 40px 2%;
	background-image: url(../imagens/header.jpg);
}
header nav{
	float: right;
}
header nav ul{
	list-style-type: none;
}
header nav li{
	float: left;
	padding: 0 20px;
}
header li a{
	text-decoration: none;
	color: white;
}
header .logo{
	float: left;
	width: 500px;
	height: 350px;
	background-image: url(../imagens/logo2.0.png);
	background-size: cover;
}
table{
	position: relative;
	width: 100%;
	height: 90vh;
	display: flex;
	box-sizing: border-box;
}

table tr td{
	background: white;
	border:1px solid black;
	padding: 5px;
}
tr:nth-child(even) {background-color: #f2f2f2;}

	.salgado{
		width: 40%;
		height: 500px;
		margin-left:20px;
	}
	.doce{
		width: 30%;
		height: 500px;
		margin-left: 20px;
	}
	.flex-mosaico{
		display: flex;
		height: 200px;
		margin: 13px;
		border:1px solid;
	}
	.item-1-mosaico{
		background-position: center;
		background-size: cover;
		width: 30%;
	}
	.item-2-mosaico{
		width: 70%;
	}
/*=========banner======*/
/*	.banner{
		width: 30%;
		height:500px;
	}
	.item-1-banner{
		background-position: relative;
		background-size: cover;
		width: 30%;
		height: 500px;
	}



/*------combo-----*/
	.col-md-4{
		box-shadow: 1px 1px 4px 1px;
		margin: 10px;
	}
	.flex-servico{

		padding: 30px;
		display: flex;
		height: 300px;
		width: 100%;
		border-radius: 2px solid;
		background-color:
	}
	.item-1-extra{
		position: relative;
		width: 30%;
		height: 200px;
	}
	.item-2-extra{
		background: rgb(46, 44, 44,0);
		width: 70%;
		padding-left: 10px;
	}
p{
	padding-top: 20px;
	text-align: justify;
	text-indent: 50px;
}
figure.foto-legenda figcaption{
	position: relative;

}
/*======mosaico====*/
	.col-md-5{
		box-shadow: 1px 1px 4px 1px;
		margin: 10px;
	}


/*========rodape======*/
footer{
	position: relative;
	text-align: center;
	color: red;
	width: 100%;
	background:#000;
	padding: 50px 0px 0px 0px;
}
footer.item-rede-social{
		width: 20px;
		height: 20px;
		padding-left: 20px;
	}
