/*=========CSS==========*/
	/*autor Mauricio*/

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}
html,body{

	background-image: url(../imagens/background.jpg);
	background-repeat: no-repeat;
  	background-attachment: fixed;
}
header{
	padding: 30px;
	width: 100%;
	height: 60vh;
	border-radius: 20px;
	background-color: black;
	background-image: url(../imagens/logo2.0.png);
	background-repeat: no-repeat;
	background-position: right top;
}


header nav ul{
	list-style-type: none;
	padding-top: 30px;
}
header nav li{
	float: left;
	padding: 20px;
}
header li a{
	text-decoration:none;
	color: white;
	border: 1px solid white;
	box-shadow: 4px 4px 4px white;
}
a:hover{background-color: rgb(225, 235, 52);color: black;}


/*=======tabela========*/
#table{

	border:2px solid;
	padding: 20px;
	width: 100%;
}
table td{
	padding: 5px;
	border:1px solid;
	background-color: white;
	width: 300px;
}
h1{
	color: red;
	text-align: center;
	padding: 20px;
}

.containe .salgado{
	float: left;
	margin-left: 30px;
}
.containe .doce{
	float: left;
	margin-left: 30px;
	margin-top: 20px;
}

table tr:nth-child(even) {background-color: #f2f2f2;}
/*========banner==========*/
/*.banner{
	position: absolute;
	left:1080px; 
	top:500px;*/
}
	/*------combo romantico-----*/

	.col-md-4{
		box-shadow: 1px 1px 4px 1px;
		margin: 10px;
		background-color: white;
	}
	.flex-servico{
		padding: 30px;
		display: flex;
		height: 360px;
		width: 100%;
		border-radius: 2px solid;
	}



	.item-2-extra{
		background: rgb(46, 44, 44,0);
		width: 70%;
		padding-left: 10px;

	}
p{
	padding-top: 20px;
	text-align: justify;
	text-indent: 50px;
	width: 100%;
}

}
/*===============novidade=============*/
	.col-md-5{
		padding: 20px;
	}
	.flex-mosaico{
		display: flex;
		width: 100%;
		height: 340px;
		margin: 13px;
		background-color: white;
		box-shadow: 1px 1px 4px 1px;
	}
	.item-1-mosaico{
		background-position: left;
		width: 30%;
		height: 300px;
		margin: 20px 10px; 
	}
	.item-2-mosaico{
		width: 70%;
	}
.


/*======mosaico====*/
	.col-md-6{
		box-shadow: 1px 1px 4px 1px;
	}
	.{
		background-color: white;
	}
	

/*========rodape======*/
footer{
	display: block;
	color: red;
	width: 100%;
	height: 200px;
	background:#000;
	padding: 50px 0px 0px 0px;
}
p.end{
		text-align: center;
	}
.col-md-6 li{
	display: inline-block;
	border-radius: 5px solid;
	background-color: white;
}
.col-md-6 ul{
	position: relative;
	left: 650px;
	margin: 5px;
}